@media only screen and (max-width : 1280px) {
  .section-hero {
    background-position: right 3px center,center;
  }
}

@media only screen and (max-width : 1240px) {
  .section-hero {
    background-size: 311px 342px, cover  ;
    background-position: right 32px bottom 215px,center;
  }
  .section-hero__title  {
    font-size: 50px;

  }
  .section-about__element {
    height: 163px;
    padding-top: 95px;
    padding-right: 0;
    padding-left: 0;
    background-position: top left;
  }

  .section-teachers__item {
    margin-bottom: 30px;
  }

  .section-courses__item {
    height: 556px;
  }
  .courses-card__top  {
    height: 180px;
  }
}

@media only screen and (max-width : 960px)  {
  .header__logo {
    display: block;
    margin-bottom: 31px;
    text-align: center;
  }
  .section-hero {
    background-image: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section-courses__item {
    height: 653px;
  }
  .courses-card__link {
    width: 180px;
  }
}
